aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
amqp==2.5.2
anyio==3.6.2
async-timeout==4.0.2
attrs==22.2.0
Babel @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_59c7q3smap/croot/babel_1671781946809/work
BareNecessities==0.2.8
bcrypt==4.0.1
beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work
billiard @ file:///Users/builder/ci_310/billiard_1642500880148/work
bleach==6.0.0
blinker==1.5
brotlipy==0.7.0
celery==4.4.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_62rp5d8fd4/croots/recipe/cffi_1659598655556/work
charset-normalizer==3.1.0
click==8.1.3
colander==1.0
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
config==0.5.1
confing==0.1.4
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_19cvzxmeb9/croot/cryptography_1677533085498/work
dnspython==2.3.0
dominate==2.7.0
email-validator @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_22o5q5yf22/croots/recipe/email-validator-meta_1659798161769/work
Flask==2.2.3
Flask-Babel @ file:///tmp/build/80754af9/flask-babel_1613334313056/work
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Moment==1.0.5
Flask-SQLAlchemy==3.0.3
Flask-WTF @ file:///tmp/build/80754af9/flask-wtf_1622018667443/work
frozenlist==1.3.3
greenlet==2.0.2
gunicorn @ file:///Users/builder/ci_310/gunicorn_1642504456862/work
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
imutils==0.5.4
iso8601==1.1.0
itsdangerous==2.1.2
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
kombu==4.6.11
lxml @ file:///Users/builder/ci_310/lxml_1642533908337/work
macholib==1.16.2
magic-filter==1.0.9
Mail==2.1.0
Mako==1.1.1
Markdown==3.4.3
MarkupSafe==2.1.2
mongoengine==0.27.0
multidict==6.0.4
mysql-connector-python==8.0.33
numpy==1.24.2
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-contrib-python-headless==4.7.0.72
packaging==23.0
Pillow==8.4.0
protobuf==3.20.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pygame==2.1.2
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pymongo==4.3.3
pyOpenSSL @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6dweji2whw/croot/pyopenssl_1677607689781/work
PySocks @ file:///Users/builder/ci_310/pysocks_1642536366386/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-editor @ file:///Users/ktietz/demo/mc3/conda-bld/python-editor_1629715712526/work
python-telegram-bot==20.2
pytz==2023.3
pywebio==1.8.1
requests==2.28.2
rfc3986==1.5.0
schedule==1.1.0
simplejson @ file:///Users/builder/ci_310/simplejson_1642537572565/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
soupsieve @ file:///tmp/build/80754af9/soupsieve_1616183228191/work
SQLAlchemy==2.0.8
tornado @ file:///Users/builder/ci_310/tornado_1642538510757/work
translationstring==1.4
typing_extensions==4.5.0
ua-parser==0.16.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
user-agents==2.2.0
vine @ file:///Users/ktietz/demo/mc3/conda-bld/vine_1629368111964/work
visitor==0.1.3
vsearch==1.1.0
webencodings==0.5.1
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
Whoosh @ file:///Users/ktietz/demo/mc3/conda-bld/whoosh_1629356423565/work
WTForms @ file:///Users/ktietz/demo/mc3/conda-bld/wtforms_1629354749392/work
yarl==1.8.2
YooMoney==0.1.0
